@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #06c5de;
    font-family: "Poppins", sans-serif;
}

::selection{
    color: white;
    background: #13d206;
}

.center, .start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-btn a {
    font-size: 25px;
    background: white;
    color: #06c5de;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
}

.modal-box {
    top: 40%;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(to top, red, yellow);
    height: auto;
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #50dcfb;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
}

.start-btn.show-modal {
    opacity: 0;
    visibility: hidden;
}

.modal-box.show-modal{
    top: 50%;
    opacity: 1;
    visibility: visible;
    transition: .4s;
}

.modal-box .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    background: #13d206;
    height: 45px;
    width: 50px;
    line-height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 0 5px 0 50px;
    padding-left: 13px;
    cursor: pointer;
}

.fa-times:hover {
    font-size: 22px;
}

.modal-box .icon1 {
    font-size: 60px;
    background: #13d206;
    height: 120px;
    width: 120px;
    color: white;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    margin-bottom: 10px;
}

.modal-box header {
    font-size: 31px;
    font-family: 'Lobster Two', sans-serif;
    margin-bottom: 10px;
}

.modal-box p {
    margin-bottom: 10px;
    line-height: 20px;
    color: rgba(27, 1, 1, 0.934);
}

form input,
form button {
    height: 50px;
    width: 95%;
    border-radius: 3px;
}

form .icon2 {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #13d206;
    color: white;
    line-height: 50px;
    font-size: 24px;
    border-radius: 5px 0 0 5px;
}

form input {
    padding: 0 65px;
    font-size: 18px;
    outline: none;
    border: 2px solid #13d206;
    caret-color: aqua;
}

input::placeholder{
   color: #8c8c8c;
}

form input:focus {
    box-shadow: 0 0 15px #5ae650,
                0 0 25px #5bbf54,
                0 0 35px #ffffff;
}

form button {
    margin-top: 15px;
    background: #13d206;
    color: white;
    font-size: 25px;
    border: 1px solid #13d206;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

form button:hover {
    background: #11a406;
    border: 1px solid #197213;
    letter-spacing: 2px;
}

.modal-box .icons {
    margin-top: 25px;
}

.icons i {
    font-size: 22px;
    margin: 0 7px;
    color: #13d206;
    cursor: pointer;
}

.icons i:hover {
    transform: scale(1.1);
    color: #15940c;
}